/* Intro Template Styles */

.headline {
  font-size: 2.5em !important;
  font-weight: bold !important;
}

.byline {
  letter-spacing: 0.1em;
  color: white;
  font-size: 0.6em !important;
}

/* Split-Screen Template Styles */

.split-screen-heading {
  font-size: 1.7em !important;
  font-weight: bold !important;
}

.split-screen-byline {
  width: 35%;
  font-size: 1.1em !important;
}

.split-screen-text {
  width: 60%;
  text-align: center;
  font-size: 0.75em !important;
}

.split-screen-img {
  width: 35%;
}

.split-screen-img img {
  border-radius: 8% !important;
}

.split-screen-list li {
  font-size: 0.8em;
  margin:0 0 30px 0;
}

.split-screen-list li::before {
  color: #8EA33B !important;
  background-color: white !important;
}

/* List-Content Template Styles */

.list-content-concise li {
  font-size: 1em;
  margin:0 0 10px 0;
}

.list-content-verbose ul {
  list-style-type: disc;
}

.list-content-verbose li {
  font-size: 0.8em;
  margin:0 0 15px 0;
}

.list-bullets-black li::before {
  background-color: black !important;
}

.list-bullets-circles {
  list-style-type: circle !important;
}


/** Image Template Styles ***/

/** Sidebox Template Styles ***/

/** Code-Presenting Template Styles ***/

/** Header-Footer Template Styles ***/

.header-footer-list-shrink li {
  color: black;
  font-size: 0.7em;
  margin:0 0 20px 0;
}

/** Quotation Template Styles ***/

/** Announcements Template Styles ***/

.announce-big-news {
  font-size: 7em !important;
}

.announce-coming-soon {
  font-size: 6.5em !important;
}

/** About Template Styles **/

.about-team-pic img {
  width: 60%;
  border: none !important;
  box-shadow: none !important;
  -webkit-clip-path: circle(35% at 50% 50%);
  clip-path: circle(35% at 50% 50%);
}

.about-team-pic-center img {
  width: 70%;
}

.about-team-bio {
  font-size: 0.6em !important;
}

.about-bio-details {
  font-size: 0.8em !important;
}

/** Wrap-Up Template Styles **/

.contact-name {
  font-size: 0.6em !important;
  font-weight: 800 !important;
  text-transform: uppercase !important;
  font-family: Arial, Helvetica, sans-serif !important;
}

.contact-email {
  font-size: 0.5em !important;
  font-weight: 600 !important;
}

.contact-links {
  color: #00008B !important;
}

.twitter-handle {
  font-size: 0.5em !important;
  font-weight: bolder !important;
  vertical-align: middle !important;
}

.git-handle {
  font-size: 0.5em !important;
  font-weight: bolder !important;
  vertical-align: middle !important;
}

.pad-right-icon {
  padding-right: 0.4em;
}

.pad-left-icon {
  padding-left: 0.4em;
}

/** General Template Styles **/

.text-black  { color: #000000 !important; }
.text-blue   { color: #4487F2 !important; }
.text-gray   { color: #777777 !important; }
.text-green  { color: #8EA33B !important; }
.text-orange { color: #F26225 !important; }
.text-pink   { color: #E71E60 !important; }
.text-purple { color: #643B85 !important; }
.text-yellow { color: #F5DB2E !important; }
.text-white  { color: #FFFFFF !important; }

.template-note {
  letter-spacing: 0.1em;
  font-size: 0.4em !important;
}

.docslink {
  color: #48a436;
  font-size: 0.5em !important;
  font-variant: small-caps !important;
  letter-spacing: 0.2em;
}

#gp-logo img {
  max-height: 3.5em;
  max-width: none;
}

#title-footer a {
  color: black;
}

#title-footer p.footer-hard {
   color: black;
}

.span-5  { width:  5% }
.span-10 { width: 10% }
.span-15 { width: 15% }
.span-20 { width: 20% }
.span-25 { width: 25% }
.span-30 { width: 30% }
.span-35 { width: 35% }
.span-40 { width: 40% }
.span-45 { width: 45% }
.span-50 { width: 50% }
.span-55 { width: 55% }
.span-60 { width: 60% }
.span-65 { width: 65% }
.span-70 { width: 70% }
.span-75 { width: 75% }
.span-80 { width: 80% }
.span-85 { width: 85% }
.span-90 { width: 90% }
.span-95 { width: 95% }
.span-100 { width: 100% }


/** Reveal.js Core Override Styles **/

.reveal ol li {
    margin-left: 0;
    padding-right: 0;
    list-style-type: none;
}

.reveal ol li {
  position: relative;
  counter-increment: step-counter;
}

.reveal ol li::before {
  color: white;
  font-size: 80%;
  font-weight: bold;
  padding: 3px 10px;
  margin-right: 15px;
  border-radius: 3px;
  background-color: #8EA33B;
  content: counter(step-counter);
}

.reveal ul ul {
  list-style-type: square; 
}

.reveal section img {
  margin: 0px 0px 0px 0px;
  border: none;
  box-shadow: none;
  background: none;
}

.reveal .slide-number {
  color: black !important;
}

.reveal blockquote {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    background: rgba(82, 112, 53, 0.2);
}

@media (device-width: 100vw) and (device-height: 100vh) {
  .reveal pre code {
    max-height: 50vh !important;
  }
}

.reveal pre {
  display: block;
  position: relative;
  width: 98%;
  margin: 0px;
  text-align: left;
  font-size: 0.5em;
  font-family: monospace;
  line-height: 1.1em;
  word-wrap: break-word;
  box-shadow: none; }

.reveal code {
  font-family: monospace; 
  font-size: 0.9em; }

.reveal pre code {
  font-size: 1.1em;
  line-height: 1.1;
  border-radius: 10px;
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 40vh !important;
  word-wrap: normal; 
}

.reveal .slides section .code-presenting-annotation {
  color: white;
  background: #b5ad86;
  padding: 0px 15px;
  border-radius: 15px;
  opacity: 0.75 !important;
  font-size: 50% !important;
}

/*.hljs {
  background: none;
}*/

.reveal p span.slide-title {
/*  display: none; */
}


/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #8EA33B;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; }
  
.reveal a:hover {
  color: rgb(171, 196, 71);
  text-shadow: none;
  border: none; }

/*********************************
 * tables (copied from beige.css) 
 *********************************/

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 3px; 
  font-size: 17px; }

.reveal table th {
  font-weight: bold; }

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none; }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls .navigate-left,
.reveal .controls .navigate-left.enabled {
  border-right-color: #643B85; }

.reveal .controls .navigate-right,
.reveal .controls .navigate-right.enabled {
  border-left-color: #643B85; }

.reveal .controls .navigate-up,
.reveal .controls .navigate-up.enabled {
  border-bottom-color: #643B85; }

.reveal .controls .navigate-down,
.reveal .controls .navigate-down.enabled {
  border-top-color: #643B85; }


/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #643B85;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/*********************************************
 * BIO
 *********************************************/
.bio {
  text-align: center;
}

.bio img {
    width: 80%;
    border-radius: 50%;
}

.bio-headline {
  color: black;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 1.0em !important;
}

.bio-byline {
  color: #8EA33B;
  font-size: 0.6em !important;
}

.bio-tagline {
  color: #8EA33B;
  font-size: 0.8em !important;
  font-style: italic !important;
}

.bio-contact {
  color: white;
  font-size: 0.7em !important;
}

.bio-about {
  font-size: 0.8em !important;
}

.bio-fa {
  color: rgb(230, 95, 17);
}

/*************************************************
 * message box
**************************************************/

.message-box {
  width: 100%;
  border-radius: 15px;
  background-color: rgba(142, 163, 59, 0.726);
  opacity: 30%;
  padding: 7px 15px 7px 15px !important;
  word-wrap: normal;
}

.message-box-white {
  width: 100%;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.700);
  opacity: 95%;
  padding: 7px 15px 7px 15px !important;
  word-wrap: normal;
  font-size: 0.55em;
}
